body{
    background-color: #E5E5E5;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    padding-bottom: 120px;
    color: rgba(60, 66, 87, 0.664);
    
    
    
}


.container-vista{
    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:732px;
}
.swal2-title{
    
    font-family: 'Montserrat', sans-serif;
      
}



.container-form{
    display: flex;
    align-items: center;
    padding: 10px;
    max-width:708px;
   
}

@media (max-width:520px){
    .container{
        width: 90%;
        padding-bottom: 50px;
        
    }
    .column-reverse{
        display:flex;
        flex-direction: column-reverse;
        
    }
    .container-form{
        padding:20px ;
    }
    
}







